<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="3.8.0" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" package="com.o7f6ce52e9da.x03152b4c22z" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:initOrder="215"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:initOrder="215"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:initOrder="215"/>
    <uses-permission android:name="android.permission.INTERNET" android:initOrder="215"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" android:initOrder="215"/>
    <uses-permission android:name="android.permission.CAMERA" android:initOrder="215"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" android:initOrder="215"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:initOrder="215"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" android:initOrder="215"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:initOrder="215"/>
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <uses-feature android:name="android.hardware.camera" android:initOrder="215"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" android:initOrder="215"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" android:initOrder="215"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" android:initOrder="215"/>
    <uses-permission android:name="android.permission.GET_TASKS" android:initOrder="215"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" android:initOrder="215"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" android:initOrder="215"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" android:initOrder="215"/>
    <uses-permission android:name="android.permission.VIBRATE" android:initOrder="215"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" android:initOrder="215"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" android:initOrder="215"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" android:initOrder="215"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" android:initOrder="215"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:initOrder="215"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" android:initOrder="215"/>
    <application android:label="春雨" android:icon="@mipmap/ic_launcher" android:name="com.nCeXLUiWKsbd.exdSZGiBfqKT.MainApplication" android:debuggable="true" android:initOrder="215" android:allowBackup="true" android:largeHeap="true" android:supportsRtl="true" android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:requestLegacyExternalStorage="true">
        <activity android:theme="@style/LaunchTheme" android:name="com.hXdIngOmLSRq.XGalEwPZeqiB.MainActivity" android:initOrder="215" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density|layoutDirection|fontScale" android:windowSoftInputMode="adjustResize" android:hardwareAccelerated="true">
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:initOrder="215" android:resource="@style/NormalTheme"/>
            <meta-data android:name="io.flutter.app.android.SplashScreenUntilFirstFrame" android:initOrder="215" android:value="true"/>
            <meta-data android:name="io.flutter.embedding.android.SplashScreenDrawable" android:initOrder="215" android:resource="@drawable/launch_background"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" android:initOrder="215"/>
                <category android:name="android.intent.category.LAUNCHER" android:initOrder="215"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" android:initOrder="215"/>
                <category android:name="android.intent.category.DEFAULT" android:initOrder="215"/>
                <category android:name="android.intent.category.BROWSABLE" android:initOrder="215"/>
            </intent-filter>
        </activity>
        <meta-data android:name="flutterEmbedding" android:initOrder="215" android:value="2"/>
        <meta-data android:name="com.byuUlqcQdYhBxatz.APP_KEY" android:initOrder="215" android:value="tmFDghYp"/>
        <provider android:name="com.pichillilorenzo.flutter_inappwebview.InAppWebViewFileProvider" android:exported="false" android:authorities="com.o7f6ce52e9da.x03152b4c22z.flutter_inappwebview.fileprovider" android:initOrder="215" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:initOrder="215" android:resource="@xml/provider_paths"/>
        </provider>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="com.o7f6ce52e9da.x03152b4c22z.fileProvider.install" android:initOrder="215" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:initOrder="215" android:resource="@xml/provider_install_paths"/>
        </provider>
        <receiver android:name="com.github.florent37.assets_audio_player.notification.NotificationActionReceiver" android:exported="true" android:initOrder="215"/>
        <receiver android:name="com.github.florent37.assets_audio_player.notification.CustomMediaButtonReceiver" android:exported="true" android:initOrder="215">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" android:initOrder="215"/>
            </intent-filter>
        </receiver>
        <service android:name="com.github.florent37.assets_audio_player.notification.NotificationService" android:enabled="true" android:exported="true" android:initOrder="215"/>
        <activity android:theme="@style/AppTheme" android:name="com.pichillilorenzo.flutter_inappwebview.InAppBrowser.InAppBrowserActivity" android:initOrder="215" android:launchMode="singleTop" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|density|layoutDirection|fontScale" android:windowSoftInputMode="adjustResize" android:hardwareAccelerated="true"/>
        <activity android:theme="@style/ThemeTransparent" android:name="com.pichillilorenzo.flutter_inappwebview.ChromeCustomTabs.ChromeCustomTabsActivity" android:initOrder="215" android:configChanges="orientation|screenSize"/>
        <receiver android:name="com.pichillilorenzo.flutter_inappwebview.ChromeCustomTabs.ActionBroadcastReceiver" android:initOrder="215"/>
        <meta-data android:name="io.flutter.embedded_views_preview" android:initOrder="215" android:value="true"/>
        <provider android:name="io.flutter.plugins.imagepicker.ImagePickerFileProvider" android:exported="false" android:authorities="com.o7f6ce52e9da.x03152b4c22z.flutter.image_provider" android:initOrder="215" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:initOrder="215" android:resource="@xml/flutter_image_picker_file_paths"/>
        </provider>
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:name="io.flutter.plugins.urllauncher.WebViewActivity" android:exported="false" android:initOrder="215"/>
        <provider android:name="com.crazecoder.openfile.FileProvider" android:exported="false" android:authorities="com.o7f6ce52e9da.x03152b4c22z.fileProvider.com.crazecoder.openfile" android:initOrder="215" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:initOrder="215" android:resource="@xml/filepaths"/>
        </provider>
        <service android:name="com.lyokone.location.FlutterLocationService" android:enabled="true" android:exported="false" android:initOrder="215" android:foregroundServiceType="location"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false" android:initOrder="215"/>
        <meta-data android:name="com.google.android.gms.version" android:initOrder="215" android:value="@integer/google_play_services_version"/>
        <uses-library android:name="androidx.window.extensions" android:initOrder="215" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:initOrder="215" android:required="false"/>
    </application>
</manifest>
